alias clr=clear
alias grep="grep --color=auto"
alias ls="ls --color=auto"
alias lsa="ls -a --color=auto"
alias lsl="ls -l --color=auto"
alias lsla="ls -l -a --color=auto"
alias fm="yazi"
alias :q="exit"

alias edit="$EDITOR"
alias notes="cd $NOTES_DIR;$EDITOR"
alias aur="cd $AUR_DIR"
alias repos="cd $HOME/source/repos"

# dotfiles
alias dot='git --git-dir=$HOME/.dotfiles/git/ --work-tree=$HOME'
alias dotignore="$EDITOR $HOME/.gitignore"

#vim:ft=sh
