/*
.dotfiles/git
!.dotfiles/scripts
!README.md

# dotfiles
!.zshrc
!.bashrc
!.aliases
!.commonrc
!.profile
!.wmrc
!.dwlrc
!.nanorc
!.gitignore
!.gitconfig
!.sysmenu
!.viebrc
!.vrrc

# Directories
!.spacemacs
!.poshthemes

# .config
!.config
.config/inkscape
!.config/inkscape/templates
.config/[0-9][0-9][0-9]*/
.config/systemd
.config/dconf
.config/pulse
.config/htoprc
.config/Vieb
.config/menus
.config/Valve
.config/openxr
.config/openvr
.config/discord
.config/GIMP
.config/qalculate
.config/qutebrowser/__pycache__
.config/alvr
.config/blender

# Windows
!.psrc.ps1
!.dotfiles/win
