[credential]
	helper =
	helper = /home/ldev/source/repos/gh-login/target/debug/gh-login

#[credential]
#	helper = 
#	helper = /usr/bin/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	email = ldev@ldev.eu.org
	name = ldev
[pull]
	rebase = true
