[credential "https://github.com"]
	helper = gh-login -b 'cache --timeout=3600'

[user]
	email = ldev@ldev.eu.org
	name = ldev
[pull]
	rebase = true
[alias]
	s = status
	ca = commit -a
	c = commit
	pu = push
	pl = pull
	a = add
	out = !"sudo poweroff"
