[credentials]
	useHttpPath = true
[credential "https://github.com/Xgames123"]
  username = Xgames123
  helper = github --no-auth-on-fail -b 'pass -t ~/.config/git-credential-pass/default.template -p git/{protocol}/{host}/main'
  helper = manager

[credential "https://github.com/sprksoft"]
  username = Xgames123
  helper = github --no-auth-on-fail -b 'pass -t ~/.config/git-credential-pass/default.template -p git/{protocol}/{host}/main'
  helper = manager

[user]
	email = ldev@ldev.eu.org
	name = ldev
[pull]
	rebase = true
[core]
	autocrlf = false
	eol = lf
[alias]
  sync=!git pull && git push
	s = status
	ca = commit -a
	c = commit
	pu = push
	pl = pull
	a = add
	out = !"sudo poweroff"
[init]
  defaultBranch = main
