/*
.dotfiles/git
!.dotfiles/scripts
!README.md

# dotfiles
!.zshrc
!.bashrc
!.aliases
!.commonrc
!.profile
!.nanorc
!.gitignore
!.gitconfig
!.sysmenu
!.viebrc

# Directories
!.spacemacs
!.poshthemes

# .config
!.config
.config/inkscape
.config/[0-9][0-9][0-9]*/
.config/systemd
.config/dconf
.config/pulse
.config/Vieb


# Windows
!.psrc.ps1
!.dotfiles/win
