*
!README.md

!.zshrc
!.bashrc
!.aliases
!.commonrc
!.profile
!.nanorc
!.gitignore
!.gitconfig
!.tofi-menu

!.spacemacs

!.dotfiles
!.dotfiles/scripts
!.dotfiles/scripts/*

!.config
!.config/neofetch/*
!.config/neofetch/config.conf
!.config/foot/*
!.config/foot/foot.ini
!.config/tofi/*
!.config/tofi/config
!.config/fnott/*
!.config/fnott/fnott.ini
!.config/xdg-desktop-portal-wlr/*
!.config/xdg-desktop-portal-wlr/config

!.poshthemes
!.poshthemes/*
!.poshthemes/ldev.json


# Windows
!.psrc.ps1
